<!-- THE NEXT BUTTON -->
<% @questions.each do |question| %>
  <!-- Form for NEXT button hits the controller route -->
  <%=form_for question, url: question_path(question), html: {method: "patch"}, remote: true, authenticity_token: true do |f|%>

    <!-- Hidden field conveying question id -->
    <div id="hidden-question-field">
      <input type="hidden" name="<%= question.id %>" value="">
    </div>

    <!-- The actual clickable button triggers the Action Cable 'Broadcast' -->
    <div class="next-button"><input type="submit" value="next"></div>
  <% end %>
<% end %>

<!-- @question comes from games#show which gets from games#controller -->
