

  <h1>Games</h1>

<!-- Link for developers only: < %= link_to "Game 1 (only click if logged in)", game_path(@games[0]) %> -->
<div class="game-list">

  <div id="games-index">
    <% @games.each do |game| %>
    <a href="games/<%= game.id %>">
    <p><span>#<%= game.id %></span> <%= game.title %> - <%= game.subject %></p>
    </a>
    <% end %>
  </div>

</div>