<div id="games-index">

<h1>Games Index</h1>

<!-- Link for developers only: < %= link_to "Game 1 (only click if logged in)", game_path(@games[0]) %> -->

<ul>
  <% @games.each do |game| %>
  <a href="games/<%= game.id %>">
  <div><span id="game_id">#<%= game.id %></span> <%= game.title %> - <%= game.subject %></div>
  </a>
  <% end %>
</ul>

</div>