<h1>Games</h1>

<div class="games-index">
  <% @games[0..1].each do |game| %>
    <p>
    <span class="game-id">#<%= game.id %></span>
    <%= link_to game.title[0..50] << '...', game_url(game) %>
    <span class="subject"><%= game.subject %></span>
    </p>
  <% end %>

  <%= link_to "New Game", new_game_path %>

</div>
