<% Game.all.each do |game| %>
  // Creates a thing that is listening to this channel:
  App['game' + <%= game.id %>] = App.cable.subscriptions.create({channel: "QuestionsChannel", game: <%= game.id %>} , {
    // 'data' is anything broadcast by the server (see 'questions_controller')
    received: function(data) {
      var gameId = $("[data-game]").data().game
      this.setGameId(gameId);
      console.log('received' + this.gameId);
      console.log('question' + data.question_id);
      // $("div[data-game='" + this.gameId + "']").css('background-color', 'red') // for debugging "next" targeting
      // The controller has sent these objects (the NEXT stuff), so now we can work with them:
      $("#questions").removeClass('hidden'); // Unknown
      $("#questions").html(this.renderQuestion(data)); // Renders the new question

      $('#a').html(this.renderA(data));
      $('#b').html(this.renderB(data));
      $('#c').html(this.renderC(data));
      $('#d').html(this.renderD(data));

      // Hide and show "Next" button
      $(".next-button").css("display", "none");
      $("#button-" + (data.question_id + 1)).css("display", "inline");
      // Hide and show "Results" buttons
      $(".results-buttons").css("display", "none");
      $("#results-" + (data.question_id)).css("display", "inline");
      // Progress bar
      $("#progress-bar").html("<progress value='" + data.question_id + "' max='10'></progress>");

      $('.show-results-buttons').css("display", "none");
      $("#show-result-button-" + (data.question_id)).css("display", "inline");

      if(data.question_id % 10 == 0) {
        $("#end-game-button").css("display", "inline");
        $("#end-game-student-results").css("display", "inline");
      }

    },

    setGameId: function(gameId) {
      this.gameId = gameId;
    },

    renderQuestion: function(data) {
      console.log('question rendered');
      return "<p>" + data.question_id + ". " + data.question_text + "</p>";
    },

    renderA: function(data) {
      return data.answer_options[0].text + "<br> <span class='percent-  results' id='percent-a'>" + "</span>";
    },
    renderB: function(data) {
      return data.answer_options[1].text + "<br> <span class='percent-  results' id='percent-b'>" + "</span>";
    },
    renderC: function(data) {
      return data.answer_options[2].text + "<br> <span class='percent-  results' id='percent-c'>" + "</span>";
    },
    renderD: function(data) {
      return data.answer_options[3].text + "<br> <span class='percent-  results' id='percent-d'>" + "</span>";
    }

    // renderAnswers: function(data) {
    //   console.log('answer rendered');
    //   return ("<p>A. " + data.answer_options[0].text + "</p>" +
    //           "<p>B. " + data.answer_options[1].text + "</p>" +
    //           "<p>C. " + data.answer_options[2].text + "</p>" +
    //           "<p>D. " + data.answer_options[3].text + "</p>")
    // }

  });

<% end %>
