<div id="header">
  <h5 class="current-user">

    <% if current_user %>
      <% if current_user.is_admin == true %>
      <b>Game Host</b>
      <% elsif current_user.is_admin != true %>
      <b>Player</b>
      <%end%>
      &nbsp;: &nbsp;<%= link_to "#{current_user.first_name}", user_url(current_user) %>
      <% if current_user.is_admin == true %>
      <b><a href="javascript:void(0)" id="playsound"><%= image_tag("airhorn-icon-bw.png", alt: "airhorn icon", class: 'sound-icon') %>
      <!-- <img src="./images/airhorn-icon-bw.png" alt="airhorn icon" class="sound-icon"> -->
      </a></b>
      <%end%>
      <% unless current_user.is_admin %>
        <div id="end-game-student-results"><%= link_to " | See my results", "/graph/student/#{current_user.id}" %></div>
      <% else %>
        <div id="end-game-button"><%= link_to "Finished", results_path %></div>
      <% end %>
    <%end%>


  </h5>

  <audio id="sound_effect" class="audio_player" preload="auto">
    <source src="/sounds/airhorn.mp3" type="audio/wav" />
  </audio>

  <script>
    $('#playsound').click(function (e) {
      $('#sound_effect')[0].currentTime = 0;
      $('#sound_effect')[0].play();
      console.log("played it");
      return false;
    });
  </script>
</div>
